.root {
    display: flex;
    height: 30rem;
    width: 25rem;
    flex-direction: column;
    border: 1px solid var(--tb-border-color);
    padding: 1rem;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25rem;
    color: var(--tb-primary-foreground-color);
    background-color: var(--tb-primary-color);
    border-width: 0;
}

.primaryButton {
    color: var(--tb-primary-foreground-color);
    background-color: var(--tb-primary-color);
}

.secondaryButton {
    color: var(--tb-secondary-foreground-color);
    background-color: var(--tb-secondary-color);
}

.bigButton {
    display: block;
    width: 100%;
    margin-top: auto;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.providerList {
    /* reset ul */
    list-style: none;
    padding: 0;
}

.provider {
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.2rem;
    gap: 0.5rem;
}

.providerLogo {
    width: 2rem;
    height: 2rem;
}

.largeLogo {
    width: 6rem;
    height: 6rem;
}

.providerName {
    flex: 1;
}

.listError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: red;
}

.listLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.listEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer {
    color: var(--tb-secondary-foreground-color);
    margin: 0;
    padding-top: 0.875rem;
    font-size: 0.875rem;
}

.footer a {
    color: var(--tb-secondary-foreground-color);
    font-weight: bold;
    text-decoration: none;
}
